[Unit]
Description=Ethminer service
After=network.target

[Service]
<% @env_vars.each do |env_var| -%>
Environment=<%= env_var %>
<% end -%>
ExecStart=/usr/bin/screen -dmS ethminer /opt/ethminer/bin/ethminer \
  -S <%= @pools.first %> \
  -O <%= @wallet %>.<%= @hostname %>:# \
  -SP 1 \
  -G
ExecStop=/usr/bin/screen -S ethminer -X quit
ExecReload=/usr/bin/screen -S ethminer -X quit
RestartPreventExitStatus=255
Type=forking

[Install]
WantedBy=multi-user.target